:root {
  --basefont: 7;
  --fontsize: var(--basefont);
  --bg: #fff;
  --fg: #000;
  --ctrlbg: #ddf;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #000;
    --fg: #fff;
    --ctrlbg: #222;
  }
}

body {
  background: var(--bg);
  color: var(--fg);
  margin: 0;
  padding: 0;
}

a {
  margin: 1em;
  font-size: 20pt;
}

#main {
  position: fixed;
  height: min(98vh, 98vw);
  width: min(98vh, 98vw);
  margin: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: -10;
  cursor: default;
  font-size: min(var(--fontsize) * 1vh, var(--fontsize) * 1vw);
  user-select: none;
}

.dot {
  position: absolute;
  background: transparent;
  text-align: center;
  height: 1em;
  width: 1em;
}

/* centerpoint is also a dot */
#centerpoint {
  /* top: calc(50% - 0.5em);
  left: calc(50% - 0.5em);
  transform: translate(calc(-50% + 0.5em));
  width: 1em;
  height: 1em; */
  font-size: min(var(--fontsize) * 1vh, var(--fontsize) * 1vw);
}

#centerpoint::after {
  content: attr(data-mark);
  position: absolute;
  display: block;
  width: 1em;
  height: 1em;
  text-align: center;
  border-radius: 1em;
  border: solid 1px #888;
}

#controls {
  position: fixed;
  /* height: 1.25em; */
  overflow: hidden;
  line-height: 2em;
  background: transparent;
  padding: 0.5em;
  transition: all 1.25s linear;
  width: 10em;
  max-height: 1.25em;
  white-space: nowrap;
}

/* #controls >div {
  display:inline-block;
} */

#controls:hover {
  max-height: 15em;
  background: var(--ctrlbg);
  width: min(25em, 90%);
  transition: all 0.25s linear;
}

button#reload {
  position: fixed;
  top: 1em;
  right: 1em;
  padding: 0.25em 0.4em;
  font-weight: bold;
}

input {
  vertical-align: middle;
}

input#markers {
  width: 20em;
}

input#help {
  display: none;
}

input#help + label {
  position: fixed;
  top: 4em;
  right: 1em;
  border: solid 1px var(--fg);
  padding: 0.25em 0.4em;
  border-radius: 0.5em;
  display: inline-block;
  cursor: pointer;
  transition: all 0.5s;
}

input#help:checked + label {
  background: red;
}

#helptext {
  display: none;
  white-space: initial;
}

input:checked + label + #helptext {
  background: green;
  display: block;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  top: 20%;
  line-height: 1.25em;
  padding: 0 0.5em 0.5em;
}

input[type="checkbox"] {
  display: none;

  + label.button {
    display: table;
    margin: 0.25em;
    padding: 0.25em;
    border-radius: 0.5em;
    border: solid;
    font-weight: bold;
  }
}

label h2 {
  margin: 0.5em 0;
}

label h3 {
  margin: 0.5em 0 0.25em;
}

#sparky {
  position: fixed;
  display: block;
  z-index: 1000;
  width: 0;
  height: 0;
  pointer-events: none;
  background: transparent;
  border: 0 solid;
  border-radius: 50%;
  transition: all 1.5s cubic-bezier(0, 0.91, 0.2, 0.97);
}
